@font-face {
    font-family: "阿里妈妈东方大楷 Regular";
    font-weight: 400;
    src: url("./common/Alimama_DongFangDaKai_Regular.woff2") format("woff2"),
        url("./common/Alimama_DongFangDaKai_Regular.woff") format("woff");
    font-display: swap;
}